*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body{
    font-family: "Sharp Grotesk DB Cyr Medium 20 Regular";
    font-size: .9rem;
}

/* HEADER */

.width-100{
    width: 100%;
}

nav{
    min-height: 60px;
}

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

/* .fxd{
    position: fixed;
} */

.justify-center{
    justify-content: center;
}

.padding-20{
    padding: 20px;
}

.padding-inizia{
    padding: 5px 10px;
}

.gap-2{
    gap: 0 2rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.bg-inizia{
    background-color: rgba(0,97,255,255);
}


.grey-color{
    color: rgb(137, 137, 137);
}

/* MAIN */

/* SECTION-1 */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.jumbotron{
    min-height: 600px;
    background-color: rgba(180,208,231,255);
    padding-top: 50px;
    padding-left: 200px;
    padding-right:200px;
}

h1{
    font-size: 75px;
    line-height: 6rem;
    font-weight: 800;
    margin-bottom: 40px;
}

.gap-1{
    gap: 0 1rem;
}

.gap-y-2{
    gap: 1rem 0;
}

.padding-top-25{
    padding-top: 25px;
}

main i{
    font-size: 50px;
    margin-bottom: 10px;
}

.text-header{
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    color: rgb(99, 99, 99);
}

.jumbo-img img{
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
}

.jumbo-img{
    width: 70%;
    position: relative;
}

/* SECTION-2 */
