*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body{
    font-family: "Sharp Grotesk DB Cyr Medium 20 Regular";
    font-size: .9rem;
}

/* HEADER */

.width-100{
    width: 100%;
}

nav{
    min-height: 60px;
}

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

/* .fxd{
    position: fixed;
} */

.justify-center{
    justify-content: center;
}

.padding-20{
    padding: 20px;
}

.padding-inizia{
    padding: 5px 10px;
}

.gap-2{
    gap: 0 2rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.bg-inizia{
    background-color: rgba(0,97,255,255);
    padding: .7rem 1rem;
}


.grey-color{
    color: rgb(137, 137, 137);
}

/* MAIN */

/* SECTION-1 */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.jumbotron{
    min-height: 600px;
    background-color: rgba(180,208,231,255);
    padding-top: 50px;
    padding-left: 200px;
    padding-right:200px;
}

h1{
    font-size: 75px;
    line-height: 6rem;
    font-weight: 800;
    margin-bottom: 40px;
}

.gap-1{
    gap: 0 1rem;
}

.gap-y-2{
    gap: 1rem 0;
}

.padding-top-25{
    padding-top: 25px;
}

main i{
    font-size: 50px;
    margin-bottom: 10px;
}

.text-header{
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    color: rgb(99, 99, 99);
}

.jumbo-img img{
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
}

.jumbo-img{
    width: 70%;
    position: relative;
}

/* SECTION-2 */

.container-sm{
    width: 1000px;
    margin: 0 auto;
}

h2{
    font-size: 40px;
    padding-top: 150px;
}

.margin-top-70{
    margin-top: 70px;
}

.radio-check{
    display: block;
    position: relative;
    margin-bottom: 25px;
    font-size: 15px;
    color: rgb(104, 104, 104);
}

.margin-top-30{
    margin-top: 30px;
}

.padding-10{
    padding: 10px;
}

.flex-column{
    display: flex;
    flex-flow: column nowrap;
}

.gap-y-1{
    gap: 2rem 0;
}

.card{
    border: 1px solid rgb(164, 164, 164);
    width: calc(100% / 3);
}

.card-header{
    border-bottom: 1px solid rgb(164, 164, 164);
}

h3{
    text-align: center;
}

.card-header i{
    margin-right: 10px;
}

.card-main{
    padding: 40px 40px;
    gap: 40px 0;
}

h4{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.card-main p:last-child{
    color: rgb(85, 85, 85);
}

.card-main ul li{
    margin-top: 20px;
}

.share:before, .users:before, .storage:before, .team:before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 600; 
    display: inline-block;
    margin-right: 10px;
    color: black;
}

.share:before{
    content: "\f1e0";
}

.storage:before{
    content: '\f07b';
}

.users:before{
    content: '\f007';
}

.team:before{
    content: '\f500';
}

.scale{
    height: 56px;
}

.card-main a{
    text-align: center;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.margin-top-20{
    margin-top: 20px;
}

.buy{
    text-decoration: underline;
    color: blue;
}

.card-main hr{
    border: 0;
    height: 0;
    border-top: 1px solid black;
    width: 25%;
}

.card-main ul{
    color: rgb(57, 57, 57);
}

.card-footer li:before{
    font-family: "Font Awesome 5 Free"; font-weight: 900; 
    display: inline-block;
    margin-right: 10px;
    content: '\f00c';
    color: blue;
}

.card-footer ul{
    color: rgb(59, 59, 59);
}

.gap-3{
    gap: 0 30px;
}

.card-main p{
    padding-bottom: 20px;
}

.margin-top-40{
    margin-top: 40px;
}

.last-card{
    border: 1px solid rgb(164, 164, 164);
}

.line-height{
    line-height: 20px;
}

.margin-right-300{
    margin-right: 300px;
}

.partner-section .container-sm div:first-child{
    min-width: 50%;
}

.partner-section img{
    display: block;
    width: 100%;
}

.partner-section{
    margin-top: 200px;
    margin-bottom: 150px;
}

.padding-inizia-2{
    background-color: white;
    color: gray;
    border: 1px solid gray;
}

.partner-section .container-sm div:last-child{
    padding: 2.5rem;
}

.partner-section a{
    align-self: flex-start;
}

h5{
    font-size: 30px;
}

.gap-y-3{
    margin-right: 80px;
    gap: 2rem 0;
}

.gray{
    color: gray;
}

/* SECTION-4 */

.card-bottom{
    width: calc(100% / 3);
}

.bottom-cards h3{
    font-size: 30px;
    text-align: start;
}

.flex-wrap{
    flex-wrap: wrap;
}

.bottom-cards img{
    display: block;
    width: 100%;
}

/* SECTION-5 */

.logos-square{
    max-width: 100%;
}

.first, .second, .center{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

.logo{
    width: calc(100% / 2);
    height: calc(100% / 2);
    position: relative;
}

.designit{
    background-color: rgba(162,211,155,255);
    box-shadow: inset 0 0 0 15px rgba(209,233,205,255);
}

.arizona{
    background-color: rgba(97,8,43,255);
}

.florida{
    background-color: rgba(0,147,206,255);
}

.topps{
    background-color: rgba(255,28,28,255);
}

.wbr{
    background-color: rgba(213,0,31,255);
}

.hearst{
    background-color: rgba(180,208,231,255);
}

.lonley{
    background-color: rgba(13,36,129,255);
}

.clear{
    background-color: rgba(255,216,48,255);
}

div.logo img{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(5);
}

.logos-square h2{
    max-width: 60%;
    font-size: 30px;
    padding-bottom: 20px;
}

.padding-bottom-100{
    padding-bottom: 100px;
}

div.center img{
    max-width: 60%;
}

.center{
    padding: 40px;
}

.center hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgb(145, 145, 145);
    width: 25%;
}

.center p{
    color: rgb(150, 150, 150);
}